{% extends 'dashboard.html' %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script> <!-- Include Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script> <!-- Include Bootstrap JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<style>

body {
    margin: 0;
    }

    .yellow-background {
        background-color: gray;
        padding: 20px 0;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .container {
        position: absolute;
        top: 50%;
        left: 55%;
        transform: translate(-50%, -50%);
    }

.container1 {

    width: 70%;
    margin: auto;
    border-width: 2px;
    margin-bottom: 15px;
    text-align: center;
}

.form-control{
        flex: 1; 
       
      background-color: smoke whitesmoke;
      border: 2px solid lightskyblue;
      border-radius: 7px;
      padding: 10px;
      /* color: white; */
    }

/* label {
    display: inline-block;
    width: 35%; 
    text-align: right;
    margin-right: 15px;
    font-size: 30px;
}

input {
    flex: 1; 
        margin: 0 10px; 
        border-radius: 5px; 
        border: 2px solid lightskyblue;
        padding: 10px;
        background-color: whitesmoke;
        width: 35%;
} */


/* Add new style for the sidebar to make it fixed and take up 25% of the viewport width */
.sidebar {
    position: fixed;
    width: 15%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    padding-top: 20px;
    z-index: 1;
}

.main-content {
    margin-left: 25%;
}

@media (max-width: 767px) {
    .sidebar {
        width: 100%;
        margin-left: 0;
        position: static;
        border-right: none;
        padding-top: 0;
        background-color: red; 
    }

    .main-content {
        margin-left: 0;
    }

    #my_table_cost {
        font-size: 12px;
    }
}

    
</style>

<body>

    <div class="container" >

        <div class="row g-2">
            <div class="col-md">
              <div class="form-floating">
                <input type="date" class="form-control" id="trans_date">
                <label for="floatingInputGrid">AP DATE</label>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                <input type="date" class="form-control" id="cut_off_date">
                <label for="floatingInputGrid">Cut off date from</label>
              </div>
            </div>
        </div>
        <br>

        <div class="row g-2">
            <div class="col-md">
              <div class="form-floating">
                <input type="date" class="form-control" id="cut_off_date_to">
                <label for="floatingInputGrid">Cut off Date to</label>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                <input type="date" class="form-control" id="billing_date">
                <label for="floatingInputGrid">BIlling Date</label>
              </div>
            </div>
        </div>
        <br>

        <div class="row g-2">
            <div class="col-md">
              <div class="form-floating">
                <input type="date" class="form-control" id="due_date">
                <label for="floatingInputGrid">Due Date</label>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" id="can_number">
                <label for="floatingInputGrid">Can Number</label>
              </div>
            </div>
        </div>
        <br>
        <div class="row g-2">
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" id="sin_number">
                <label for="floatingInputGrid">SIN Number</label>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" id="ap_number">
                <label for="floatingInputGrid">AP Number</label>
              </div>
            </div>
        </div>
        <br>
        <div class="row g-2">
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" id="rfp_number">
                <label for="floatingInputGrid">RFP Number</label>
              </div>
            </div>

            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" id="kwh_no">
                <label for="floatingInputGrid">KWH NUMBER</label>
              </div>
            </div>
        </div>

        <br>
        <div class="row g-2">
            <div class="col-md">
              <div class="form-floating">
                <input type="number" class="form-control" id="net_of_vat">
                <label for="floatingInputGrid">NET OF VAT</label>
              </div>
            </div>
            
            <div class="col-md">
              <div class="form-floating">
                <input type="number" class="form-control" id="non_vat_amount">
                <label for="floatingInputGrid">NON VAT</label>
              </div>
            </div>
        </div>
        <br>
        <div class="row g-2">
            <div class="col-md">
              <div class="form-floating">
                <input type="number" class="form-control" id="total_amount">
                <label for="floatingInputGrid">TOTAL AMOUNT</label>
              </div>
            </div>
            
            <div class="col-md">
              <div class="form-floating">
                <input type="number" class="form-control" id="with_holdingtax">
                <label for="floatingInputGrid">EXPANDED WITH HOLDING TAX</label>
              </div>
            </div>
        </div>
        <br>
        <div class="row g-2">
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" id="payable_amount">
                <label for="floatingInputGrid">PAYABLE AMOUNT</label>
              </div>
            </div>
            
            <div class="col-md">
              <div class="form-floating">
                <input type="number" class="form-control" id="with_holdingtax" hidden>
               
              </div>
            </div>
        </div>


        <br>

        <div class="yellow-background d-flex justify-content-start align-items-center">
            <button type="button" class="btn btn-warning" style="width: 190px;">Save</button>
        </div>



        <div class="row g-2">
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" id="spell_number">
                <label for="floatingInputGrid">AMOUNT IN WORDS</label>
              </div>
            </div>
            
            
        </div>


        <div class="col-md">
            <p id="spell_number_result"></p>
          </div>
    


      
        <!-- <div class="container1">
            <label for="employee_id">Date:</label>
            <input
                type="date"
                name="date_electricity"
                id="date_electricity"
               
            >
        </div>
        
        <div class="container1">
            
            <input
                type="date"
                name="fname"
                id="fname"
                
            >
        </div>

        <div class="container1">
            <label for="fname">Cut off Date To:</label>
            <input
                type="date"
                name="fname"
                id="fname"
                
            >
        </div>

        <div class="container1">
            <label for="fname">Billing Date:</label>
            <input
                type="date"
                name="billing_date"
                id="billing_date"
                
            >
        </div>

        <div class="container1">
            <label for="fname">Due Date:</label>
            <input
                type="date"
                name="due_date"
                id="due_date"
                
            >
        </div>


        <div class="container1">
            <label for="fname">Due Date:</label>
            <input
                type="date"
                name="due_date"
                id="due_date"
                
            >
        </div>
     -->
    </div>

</body>


<script>
    var th = ['','Thousand','Million','Billion','Trillion'];
    var dg = ['Zero','One','Two','Three','Four',
              'Five','Six','Seven','Eight','Nine'];
    var tn = ['Ten','Eleven','Twelve','Thirteen', 'Fourteen','Fifteen','Sixteen',
              'Seventeen','Sighteen','Nineteen'];
    var tw = ['Twenty','Thirty','Forty','Fifty',
              'Sixty','Seventy','Eighty','Ninety'];
  
    function toWords(s) {
      s = s.toString();
      s = s.replace(/[\, ]/g,'');
  
      if (s != parseFloat(s)) return 'not a number';
  
      var x = s.indexOf('.');
      if (x == -1) x = s.length;
  
      if (x > 15) return 'too big';
  
      var n = s.split('');
      var str = '';
      var sk = 0;
  
      for (var i = 0; i < x; i++) {
        if ((x - i) % 3 == 2) {
          if (n[i] == '1') {
            str += tn[Number(n[i+1])] + ' ';
            i++;
            sk = 1;
          } else if (n[i] != 0) {
            str += tw[n[i] - 2] + ' ';
            sk = 1;
          }
        } else if (n[i] != 0) {
          str += dg[n[i]] + ' ';
          if ((x - i) % 3 == 0) str += 'hundred ';
          sk = 1;
        }
  
        if ((x - i) % 3 == 1) {
          if (sk) str += th[(x - i - 1) / 3] + ' ';
          sk = 0;
        }
      }
  
      if (x != s.length) {
        var y = s.length;
        str += 'and ';
  
        for (var i = x + 1; i < y; i++) {
          str += dg[n[i]] + ' ';
        }
      }
  
      return str.replace(/\s+/g,' ');
    }
  
    function decimalToFraction(decimalPart) {
        if (decimalPart === 0) return '';

        const epsilon = 1e-15;
        const numerator = Math.round(decimalPart * 100 + epsilon);
        const denominator = 100;

        return `${numerator}/${denominator}`;
        }


        document.getElementById("payable_amount").addEventListener("input", function () {
        const inputNumber = parseFloat(this.value) || 0;
        const integerPart = Math.floor(inputNumber);
        const decimalPart = inputNumber - integerPart;

        const spelledIntegerPart = toWords(integerPart);
        const spelledDecimalPart = decimalToFraction(decimalPart);

        const spelledNumber = spelledIntegerPart + (decimalPart ? ` and ${spelledDecimalPart}` : '');

        document.getElementById("spell_number").value = spelledNumber;
        });


  
    
  </script>
    
  
  


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>











{% endblock %}