{% extends 'dashboard.html' %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script> <!-- Include Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script> <!-- Include Bootstrap JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<style>

body {
    margin: 0;
    }

    .yellow-background {
        background-color: gray;
        padding: 20px 0;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
    }

.container1 {

    width: 70%;
    margin: auto;
    border-width: 2px;
    margin-bottom: 15px;
    text-align: center;
}

.form-control{
        flex: 1; 
       
      background-color: smoke whitesmoke;
      border: 2px solid lightskyblue;
      border-radius: 7px;
      padding: 10px;
      width: 450px;
      /* color: white; */
    }

  
.form-control-spel{
        flex: 1; 
       
      background-color: smoke whitesmoke;
      border: 2px solid lightskyblue;
      border-radius: 7px;
      padding: 10px;
      width: 650px;
      /* color: white; */
    }

/* label {
    display: inline-block;
    width: 35%; 
    text-align: right;
    margin-right: 15px;
    font-size: 30px;
}

input {
    flex: 1; 
        margin: 0 10px; 
        border-radius: 5px; 
        border: 2px solid lightskyblue;
        padding: 10px;
        background-color: whitesmoke;
        width: 35%;
} */


/* Add new style for the sidebar to make it fixed and take up 25% of the viewport width */
.sidebar {
    position: fixed;
    width: 15%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    padding-top: 20px;
    z-index: 1;
}

.main-content {
    margin-left: 25%;
}

@media (max-width: 767px) {
    .sidebar {
        width: 70%;
        margin-left: 0;
        position: static;
        border-right: none;
        padding-top: 0;
        background-color: red; 
    }

    .main-content {
        margin-left: 0;
    }

    #my_table_cost {
        font-size: 12px;
    }
}

    
</style>

<body>

    <div class="container" >

        <div class="row g-2">
            <div class="col-md">
              <div class="form-floating">
                <input type="date" class="form-control" id="trans_date">
                <label for="floatingInputGrid">AP DATE</label>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                <input type="date" class="form-control" id="cut_off_date">
                <label for="floatingInputGrid">Cut off date from</label>
              </div>
            </div>
        </div>
        <br>

        <div class="row g-2">
            <div class="col-md">
              <div class="form-floating">
                <input type="date" class="form-control" id="cut_off_date_to">
                <label for="floatingInputGrid">Cut off Date to</label>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                <input type="date" class="form-control" id="billing_date">
                <label for="floatingInputGrid">BIlling Date</label>
              </div>
            </div>
        </div>
        <br>

        <div class="row g-2">
            <div class="col-md">
              <div class="form-floating">
                <input type="date" class="form-control" id="due_date">
                <label for="floatingInputGrid">Due Date</label>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" id="can_number">
                <label for="floatingInputGrid">CAN Number</label>
              </div>
            </div>
        </div>
        <br>
        <div class="row g-2">
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" id="sin_number">
                <label for="floatingInputGrid">SIN Number</label>
              </div>
            </div>
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" id="ap_number">
                <label for="floatingInputGrid">AP Number</label>
              </div>
            </div>
        </div>
        <br>
        <div class="row g-2">
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" id="rfp_number">
                <label for="floatingInputGrid">RFP Number</label>
              </div>
            </div>

            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" id="kwh_no">
                <label for="floatingInputGrid">KWH NUMBER</label>
              </div>
            </div>
        </div>

        <br>
        <div class="row g-2">
            <div class="col-md">
              <div class="form-floating">
                <input type="number" class="form-control" id="net_of_vat">
                <label for="floatingInputGrid">NET OF VAT</label>
              </div>
            </div>
            
            <div class="col-md">
              <div class="form-floating">
                <input type="number" class="form-control" id="non_vat_amount">
                <label for="floatingInputGrid">NON VAT</label>
              </div>
            </div>
        </div>
        <br>
        <div class="row g-2">
            <div class="col-md">
              <div class="form-floating">
                <input type="number" class="form-control" id="total_amount">
                <label for="floatingInputGrid">TOTAL AMOUNT</label>
              </div>
            </div>
            
            <div class="col-md">
              <div class="form-floating">
                <input type="number" class="form-control" id="with_holdingtax">
                <label for="floatingInputGrid">EXPANDED WITH HOLDING TAX</label>
              </div>
            </div>
        </div>
        <br>
        <div class="row g-2">
            <div class="col-md">
              <div class="form-floating">
                <input type="number" class="form-control" id="vat_amount" >
                <label for="floatingInputGrid">VAT</label>
              </div>
            </div>
            
            <div class="col-md">
              <div class="form-floating">
                
                <input type="text" class="form-control" id="gross_amount">
                <label for="floatingInputGrid">GROSS AMOUNT</label>
              </div>
            </div>
        </div>

        <br>
        <div class="row g-2">
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" id="payable_amount">
                <label for="floatingInputGrid">PAYABLE AMOUNT</label>
              </div>
            </div>
            
            
        </div>
        <br>
       
        <div class="row g-2">
           
            
            <div class="col-md">
              <div class="form-floating">
                <input type="number" class="form-control" id="with_holdingtax" hidden>
               
              </div>
            </div>
        </div>

        

        <div class="yellow-background d-flex justify-content-start align-items-center">
            <button type="button" class="btn btn-warning" style="width: 190px;">Save</button>
        </div>

        <br>

        


        
    


      
        <!-- <div class="container1">
            <label for="employee_id">Date:</label>
            <input
                type="date"
                name="date_electricity"
                id="date_electricity"
               
            >
        </div>
        
        <div class="container1">
            
            <input
                type="date"
                name="fname"
                id="fname"
                
            >
        </div>

        <div class="container1">
            <label for="fname">Cut off Date To:</label>
            <input
                type="date"
                name="fname"
                id="fname"
                
            >
        </div>

        <div class="container1">
            <label for="fname">Billing Date:</label>
            <input
                type="date"
                name="billing_date"
                id="billing_date"
                
            >
        </div>

        <div class="container1">
            <label for="fname">Due Date:</label>
            <input
                type="date"
                name="due_date"
                id="due_date"
                
            >
        </div>


        <div class="container1">
            <label for="fname">Due Date:</label>
            <input
                type="date"
                name="due_date"
                id="due_date"
                
            >
        </div>
     -->

      <div class="row g-2">
        <div class="col-md">
          <div class="form-floating">
            <input type="text" class="form-control-spel" id="spell_number">
            <!-- <label for="floatingInputGrid">AMOUNT IN WORDS</label> -->
          </div>
        </div>
        
        
        </div>

    </div>

    

</body>


<script>
    

  
    
  </script>
    
  
  


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>






<script src="/static/electricity_monitoring.js"></script>



{% endblock %}