{% extends 'dashboard.html' %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/static/style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <div id="container" class="container mt-4">

    <h2>INSERT ALLOWANCE FOR EMPLOYEE</h2>

    <div class="row g-2">
        
        <div class="col-md">
            <div class="form-floating">
              <input type="text" class="form-control" id="name" >
              <label for="floatingInputGrid"class="label-large" >Name</label>
            </div>
          </div>
       

        
    </div>

    <br>

 

  

    <div class="row g-2">
        <div class="col-md">
          <div class="form-floating">
            <select class="form-select" id="tax_code" aria-label="Floating label select example">

              <option selected>----select menu----</option>
              <option value="TAXABLE">TAXABLE</option>
              <option value="NON-TAXABLE">NON-TAXABLE</option>
              <option value="MWE">MWE</option>
             
          </select>

            
            <label for="floatingInputGrid"class="label-large" >Tax Code</label>
          </div>
        </div>
        
        <div class="col-md">
          <div class="form-floating">
            <input type="text" class="form-control" id="book" >
            <label for="floatingInputGrid" class="label-large">Book</label>

           
          </div>
        </div>

        
    </div>

    <br>
    <div class="row g-2">
        <div class="col-md">
          <div class="form-floating">
            
            <select class="form-select" id="department" aria-label="Floating label select example">

              <option selected>----select menu----</option>
              <option value="ACCOUNTING">ACCOUNTING</option>
              <option value="ADMIN">ADMIN</option>
              <option value="EMD">EMD</option>
              <option value="ENGINEERING - ANTIPOLO">ENGINEERING - ANTIPOLO</option>
              <option value="ENGINEERING - CAVITE">ENGINEERING - CAVITE</option>
              <option value="FINANCE">FINANCE</option>
              <option value="HR">HR</option>
              <option value="IT">IT</option>
              <option value="LEGAL">LEGAL</option>
              <option value="OFFICE OF THE PRESIDENT">OFFICE OF THE PRESIDENT</option>
              <option value="PERMITS & LICENSES">PERMITS & LICENSES</option>
              <option value="PLANNING & DESIGN">PLANNING & DESIGN</option>
              <option value="SALES & LOAN DOCUMENTATION">SALES & LOAN DOCUMENTATION</option>
              <option value="TREASURY">TREASURY</option>
             
             
          </select>
            <label for="floatingInputGrid" class="label-large">Department</label>
          </div>
        </div>

        <div class="col-md">
            <div class="form-floating">
                <select class="form-select" id="is_active" aria-label="Floating label select example">

                    <option selected>----select menu----</option>
                    <option value="True">True</option>
                    <option value="False">False</option>
                   
                </select>
              <label for="floatingInputGrid" class="label-large">ACTIVE STATUS</label>
            </div>
        </div>
        
       

        
    </div>

    <br>

    <div class="row g-2">
        <div class="col-md">
          <div class="form-floating">
            <input type="text" class="form-control" id="company_id" hidden>
           
          </div>
        </div>
        
        <div class="col-md">
          <div class="form-floating">
            <input type="text" class="form-control" id="book_id"hidden >
            

           
          </div>
        </div>

        
    </div>
   
    
    <button type="button" id="btn_save_employee" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
        
    <br>

    
    <div class="card">
        <div class="card-header">

            ALLOWANCE LIST
          <!-- ELECTRICITY DATA
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" id="btn_insert_electric_data"
               >
            Add Electricty Consumption
          </button>
  
          <button type="button" class="btn btn-primary"  id="btn_meralco_info"
               style="width: 190px;">
            Add Meralco Details
          </button> -->
  
        </div>
        <div class="card-body">
          <div class="container">
            <div class="container mt-3">
  
             
              <table id="my_table_employee_list" class="table table-bordered"  style="text-align: center;">
                  <thead class="border-bottom font-weight-bold">

                          
                          <td>Emp ID</td>
                          <td>Last Name</td>
                          <td>First Name</td>
                          
                          <td>Basic Rate</td>
                          <td>Tax Code</td>
                          <td>Department</td>
                          <td>Books</td>
                          <td>Action</td>
                          
                          
                          
                      </tr>
                  </thead>
                  <tbody>
                    {% for list in employee_data %}
          
                          <tr>
                              
                              <td>{{list.employee_id}}</td>
                              <td>{{list.last_name}}</td>
                              <td>{{list.first_name}}</td>
                             
                              <td>{{list.basic_monthly_pay}}</td>
                              <td>{{list.tax_code}}</td>
                              <td>{{list.department}}</td>
                              <td>{{list.book}}</td>
                             
                              
                    
                              <td>
                                  <a href="/update-employee-list/{{list.id}}"
                                  <button type="button" class="btn btn-primary">
                                  <i class="fas fa-database"></i>Edit</button></a>
                              </td>
  
                             
                              
  
                              
                          </tr>
                         
                    {% endfor %} 
                  </tbody>
              </table>
  
          </div>
  
  
          </div>
        </div>

        <!-- this -->
      </div>
  
    </div>
  
     

             
                

  </div>


  
   
    

<!-- Add Bootstrap JS and Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>



<script src="/static/payroll_insert_employee.js"></script>






  

</script>


{% endblock %}