{% extends 'dashboard.html' %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/static/style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


  <div id="container" class="container mt-4">

          



<!-- =================================this is for modal update cash advance============================= -->
          <div class="modal" id="update_cash_advance_modal" tabindex="-1">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Update Cash Advance</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">


                  <div class="row g-2">
                    <div class="col-md">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="update_id" >
                        <label for="floatingInputGrid"class="label-large" >Update ID</label>
                      </div>
                    </div>

                    <div class="col-md">
                      <div class="form-floating">
                        <input type="number" class="form-control" id="update_amount_deduction" >
                        <label for="floatingInputGrid" class="label-large">Amount Deduction</label>
          
                      
                      </div>
                    </div>
                    
                    
                   
                    
                    
                  </div>

                 
                  <div class="row g-2">

                    
                  
                    
                    <div class="col-md">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="update_employee_id_id" hidden >
                        
          
                      
                      </div>
                    </div>
          
                    
                  </div>
                  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id="btn_save_changes">Save changes</button>
                </div>
              </div>
            </div>
          </div>


<!-- ==========================================Cash advance Frame =================================== -->

        <h2>INSERT EMPLOYEE CASH ADVANCE</h2>

        <div class="row g-2">
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" id="name" >
                <label for="floatingInputGrid"class="label-large" >Name</label>
              </div>
            </div>
            
            <div class="col-md">
              <div class="form-floating">
                <input type="number" class="form-control" id="amount_deduction" >
                <label for="floatingInputGrid" class="label-large">Amount Deduction</label>
  
              
              </div>
            </div>
  
            
        </div>
        <br>
        <div class="row g-2">

            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" id="is_active" aria-label="Floating label select example">

                        <option selected>----select menu----</option>
                        <option value="True">True</option>
                        <option value="False">False</option>
                       
                    </select>
                  <label for="floatingInputGrid" class="label-large">HAS DEDUCTION</label>

                </div>
                
              </div>
            <div class="col-md">
              <div class="form-floating">
                <input type="text" class="form-control" id="employee_id_id" hidden >
               
              </div>
            </div>
            
            
  
            
        </div>

    
        <br>

        
        <button type="button" id="btn_save_cash_advance" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
            
        <br>

        <br>

        <div class="card">
            <div class="card-header">

                CASH ADVANCES LIST
            <!-- ELECTRICITY DATA
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" id="btn_insert_electric_data"
                >
                Add Electricty Consumption
            </button>
    
            <button type="button" class="btn btn-primary"  id="btn_meralco_info"
                style="width: 190px;">
                Add Meralco Details
            </button> -->
            
            <button type="button" class="btn btn-primary btn-right"  id="btn_update_cash_advance"
                  data-bs-toggle="modal" >
                Update Cash Advance
            </button>
    
            </div>
            <div class="card-body">
            <div class="container">
                <div class="container mt-3">
    
                
                <table id="my_table_employee_list" class="table table-bordered"  style="text-align: center;">
                    <thead class="border-bottom font-weight-bold">

                            <td>Trans ID</td>
                            <td>Emp ID</td>
                            <td>Last Name</td>
                            <td>First Name</td>                
                            <td>Amount Deduction</td>
                            
                            
                            
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for list in cash_advance_list %}
            
                            <tr>
                                <td>{{list.id}}</td>
                                <td>{{list.employee_id}}</td>
                                <td>{{list.last_name}}</td>
                                <td>{{list.first_name}}</td>   
                                <td>{{list.amount_deduction}}</td>
                               
                               
                                
                        
                                <!-- <td>
                                    <a href="/update-employee-list/{{list.id}}"
                                    <button type="button" class="btn btn-primary">
                                    <i class="fas fa-database"></i>Edit</button></a>
                                </td> -->
    
                                
                                
    
                                
                            </tr>
                            
                        {% endfor %} 
                    </tbody>
                </table>
    
            </div>
    
    
            </div>
            </div>
        </div>
  
    </div>
  
     

             
            
    

<!-- Add Bootstrap JS and Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>



<script src="/static/payrolll/cash_advance2.js"></script>


<script type="text/javascript" src="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>



<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.js"></script> -->
<script type="text/javascript" src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>


<script>
    //     $(document).ready(function () {
    //     $('#my_table_employee_list').DataTable();
    // });

  let table = new DataTable('#my_table_employee_list');

</script>


{% endblock %}