{% extends 'dashboard.html' %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script> <!-- Include Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script> <!-- Include Bootstrap JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />

<!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->


<!-- Add Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<style>
    #container {
    width: 80%;
    margin: auto;
    border-width: 1px;
  }

  #title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }

  .form-control {
    background-color: smoke whitesmoke;
  }




  /* Add new style for the sidebar to make it fixed and take up 25% of the viewport width */

  
  .sidebar {
    position: fixed;
    width: 15%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    padding-top: 20px;
    z-index: 1; /* Ensure the sidebar is above other elements */
  }

  /* Adjust the main content to start after the sidebar */
  .main-content {
    margin-left: 25%; /* Set to the width of the sidebar */
  }

  
</style>


<body>
    <div>

    </div>

    <div id="container" class="container mt-4">


        <div id="container" class="container mt-4">

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" 
            data-bs-target="#insert_cost_elements" style="width: 190px;">
            Add Cost Element
        </button>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
             data-bs-target="#insert_branch" style="width: 190px;">
            Add Branch
        </button>


        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
             data-bs-target="#cost_account_name" style="width: 190px;">
             Cost Account Name
        </button>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" id="btn_insert_cost"
              data-bs-target="#insert_cost" style="width: 190px;">
            Insert Cost
        </button>

        <br>
        <!-- <div class="col-md">
          <div class="form-floating">
            <input type="text" class="form-control" id="branch_insert_cost_input2" >
            <label for="floatingInputGrid" style="font-size: 15px;">Branch</label>

           
          </div>
        </div> -->


        <div>

          <div class="container mt-3">
            <table id="my_table_cost" class="table table-bordered"  style="text-align: center;">
                <thead class="border-bottom font-weight-bold">
                
                        <td>Date</td>
                        <td>AP No.</td>
                        <td>Company</td>
                        <td>Book</td>
                        <td>Net of Vat</td>
                        <td>Expense Acount</td>
                        <td>Description</td>
                        <td>SIN/Account No</td>
                        <td>KWT/CUBIC</td>
                        <td>Amount</td>
                        <td>Action</td>
                        <td>Update W&E</td>
                        
                        
                    </tr>
                </thead>
                <tbody>
                    {% for list in cost_data%}
        
                        <tr>
                            
                            <td>{{list.voucher_date}}</td>
                            <td>{{list.voucher_no}}</td>
                            <td>{{list.company}}</td>
                            <td>{{list.book}}</td>
                            <td>{{list.net_of_vat}}</td>
                            <td>{{list.expense_account}}</td>
                            <td>{{list.description}}</td>
                            <td>{{list.sin}}</td>
                            <td>{{list.kwt_cubic_meter}}</td>
                            <td>{{list.amount}}</td>
                            
                           
                            
                            <td>
                                <a href="#"
                                <button type="button" class="btn btn-primary">
                                <i class="fas fa-database"></i>Edit</button></a>
                            </td>

                            <td>
                              <a href="/api-update-water-electric-cost/{{list.id}}"
                              <button type="button" class="btn btn-warning">
                              <i class="fas fa-database"></i>Update</button></a> 

                              <!-- <a href="/api-update-water-electric-cost/{list.id/}"
                              <button type="button"  class="btn btn-success">
                              <i class="fas fa-database"></i>EL&WA</button></a> -->
                          </td>

                            

                            
                        </tr>
                       
                    {% endfor %}
                </tbody>
            </table>

        </div>


        
   



        </div>




        <!-- Modal--------------------------------------------------Insert Cost  Elements ---------------------------------------->
        <div class="modal fade" id="insert_cost_elements" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Cost Elements</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-insert-cost-elements">

                        
                            
                            
                            <div class="col-md">
                              <div class="form-floating">
                                <input type="text" class="form-control" id="type" >
                                <label for="floatingInputGrid" style="font-size: 18px;">Type of Elements</label>
                
                               
                              </div>
                            </div>

                            <br>
                
                            <div class="col-md">
                                <div class="form-floating">
                                  <input type="text" class="form-control" id="cost_elements" >
                                  <label for="floatingInputGrid" style="font-size: 18px;">Cost Elements</label>
                  
                                 
                                </div>
                              </div>
                        
                
                          
                
                          <br>


                         
                          
                
                          
                       
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal--------------------------------------------------Insert Branch ---------------------------------------->
        <div class="modal fade" id="insert_branch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Branch</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-insert-branch">

                        
                            
                             
                      
                            <div class="col-md">
                                <div class="form-floating">
                                  <input type="text" class="form-control" id="insert_branch_input" >
                                  <label for="floatingInputGrid" style="font-size: 18px;">Branch</label>
                  
                                 
                                </div>
                              </div>
                        
                
                          
                
                          <br>


                         
                          
                
                          
                       
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" id="Bnt_save_branch" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>



 <!-- Modal--------------------------------------------------Insert Electricity & Water  Elements ---------------------------------------->
 <div class="modal fade" id="electricity_water_form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add WATER & ELECTRICITY</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal_electricity_water_form">

              
                  
                  
                  <div class="col-md">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="sin" >
                      <label for="floatingInputGrid" style="font-size: 18px;">SIN</label>
      
                     
                    </div>
                  </div>

                  <br>
      
                  <div class="col-md">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="kwh_cm" >
                        <label for="floatingInputGrid" style="font-size: 18px;">KWH/CM</label>
        
                       
                      </div>
                    </div>

                    <br>

                    <div class="col-md">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="sin_amount" >
                        <label for="floatingInputGrid" style="font-size: 18px;">Amount</label>
        
                       
                      </div>
                    </div>
              
      
                
      
                <br>


               
                
      
                
             
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save</button>
          </div>
      </div>
  </div>
</div>


<!-- ===============================================Inset Cost MOdal======================================= -->
        <!-- Modal  insert cost-->
        <div class="modal fade" id="insert_cost" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Cost</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal_insert_cost">

                        <div class="row g-3">
                            <div class="col-md">
                              <div class="form-floating">
                                <input type="date" class="form-control" id="transaction_date" >
                                <label for="floatingInputGrid" style="font-size: 15px;">Transaction Date</label>
                              </div>
                            </div>
                            
                            <div class="col-md">
                              <div class="form-floating">
                                <input type="text" class="form-control" id="branch_insert_cost_input" >
                                <label for="floatingInputGrid" style="font-size: 15px;">Branch</label>
                
                               
                              </div>
                            </div>
                
                            <div class="col-md">
                                <div class="form-floating">
                                  <input type="text" class="form-control" id="account_name" >
                                  <label for="floatingInputGrid" style="font-size: 15px;">AP Number</label>
                  
                                 
                                </div>
                              </div>
                          </div>
                
                          
                
                          <br>


                          <div class="row g-3">
                            <div class="col-md">
                              <div class="form-floating">
                                <input type="text" class="form-control" id="transaction_date" >
                                <label for="floatingInputGrid" style="font-size: 15px;">Transaction Date</label>
                              </div>
                            </div>
                            
                            <div class="col-md">
                              <div class="form-floating">
                                <input type="text" class="form-control" id="account_name" >
                                <label for="floatingInputGrid" style="font-size: 15px;">AP Number</label>
                
                               
                              </div>
                            </div>
                
                            <div class="col-md">
                                <div class="form-floating">
                                  <input type="text" class="form-control" id="account_name" >
                                  <label for="floatingInputGrid" style="font-size: 15px;">AP Number</label>
                  
                                 
                                </div>
                              </div>
                          </div>
                
                          
                
                          <br>
                       
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
            


          </div>
    
               
    
         
                 
                    
    
      </div>

</body>
<script src="/static/cost_transasction.js"></script>

<!-- Add Bootstrap JS and Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>


<script>
  

</script>


<script>
 

</script>







  

{% endblock %}