{% extends 'index.html' %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<style>
    #container {
              width: 50%; /* Set the width of the div element */
              margin: auto; /* Center the div */
              border-width: 1px;
              /* border-style: solid; */
             
             
      }
  
    #title{
      display: flex;
      justify-content: center; /* Horizontally center the content */
      align-items: center; /* Vertically center the content */
      height: 10vh; /* Assuming you want to center the h1 vertically on the page */
    }
  
    .form-control{
      background-color: smoke whitesmoke;
      /* color: white; */
    }
  </style>
  <div id="container" class="container mt-4">

    <h1>UPDATE WATER AND ELECTRICITY </h1>
    {% for list in costlData %}
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" id="transID" value="{{list.id}}" hidden>
                </div>
            </div>

        </div>
        <br>
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                <input type="text" class="form-control" id="sin" value="{{list.sin}}">
                <label for="floatingInputGrid" style="font-size: 15px;">sin</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input
                        type="text"
                        name="kwt_cubic_meter_update"
                        id="kwt_cubic_meter_update"
                        value="{{list.kwt_cubic_meter}}"
                        class="form-control"
                        >
                    </input>  


                    <label for="floatingInputGrid" style="font-size: 15px;">KWT/CUBIC METER</label>
                
                </div>
            </div>
        </div>

            <br>

            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" id="amount_update" value="{{list.amount}}">
                    <label for="floatingInputGrid" style="font-size: 15px;" >Amount</label>
               
                </div>
            </div>

            <br>

            <div class="row g-2">

                <div class="col-md">
                    <div class="form-floating">
                        <input
                            type="number"
                            name="start"
                            id="start"
                            value="{{list.timeIn}}"
                            class="form-control"
                            >
                        </input> 
                        <label for="floatingInputGrid" style="font-size: 15px;">Time IN</label>

                    
                    </div>
                </div>
                
                <div class="col-md">
                    <div class="form-floating">
                        <input
                            type="number"
                            name="end"
                            id="end"
                            value="{{list.timeOut}}"
                            class="form-control"
                            >
                        </input>  
                        <label for="floatingInputGrid" style="font-size: 15px;">Time Out</label>

                    
                    </div>
                </div>
            </div>

            <br>

            

                            
                        

            {% endfor %} 

                <br>
                <button type="button" id="Btn_update_save" class="btn btn-warning">Update</button>

  </div>
   
    <!-- <script src="/static/sgmc/sgmc_update_rental.js"></script> -->
            



{% endblock %}