#container {
    width: 60%; /* Set the width of the div element */
    margin: auto; /* Center the div */
    border-width: 1px;
    /* border-style: solid; */
   
   
}

#title{
display: flex;
justify-content: center; /* Horizontally center the content */
align-items: center; /* Vertically center the content */
height: 10vh; /* Assuming you want to center the h1 vertically on the page */
}

.form-control{
background-color: smoke whitesmoke;
/* color: white; */
}


.sidebar {
position: fixed;
width: 15%;
height: 100%;
top: 0;
left: 0;
background-color: #f8f9fa;
border-right: 1px solid #dee2e6;
padding-top: 20px;
z-index: 1;
}

.main-content {
margin-left: 15%;
padding: 20px;
}

@media (max-width: 767px) {
.sidebar {
width: 100%;
position: static;
border-right: none;
padding-top: 0;
background-color: red;
}
}

.label-large {
font-size: 19px; /* Adjust the font size as needed */
}